@import "tailwindcss";

@theme inline {
  --color-bg0: #DB9F75;
  --color-bg1: #122324;
  --color-fg0: #804012;
  --color-fg1: #2F3A32;
  --color-dark-valet: #3E2411;
  --color-comment: #545748;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: var(--color-bg0);
  --foreground: var(--color-fg1);
}

@layer base {
  /* Targets all common text elements */
  h1, h2, h3, h4, h5, h6, p, span, a, li, label, strong, em {
    @apply relative z-41;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
